/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utilites/colors';
@import './base/base_style';
@import './footer/footer.scss';
