.footer {
  max-width: 1224px;
  min-height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #aaa;
}
.icon-favorit {
  width: 15px;
  height: 15px;
}
