.container-footer-modal {
  padding: 35px 20px;

  background: #ffffff;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid #ff6a00;
  @media screen and (max-width: 479px) {
    width: 100%;
    padding: 25px;
  }
  @media screen and (min-width: 480px) {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    width: auto;
  }
  @media screen and (min-width: 1024px) {
    // position: absolute;
    max-width: 1440px;
    // min-height: 700px;
    padding: 40px;
  }
}

.close-button-footer {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px;
}

// .backdrop.visually-hidden {
//   opacity: 0;
//   pointer-events: none;
// }

// .backdrop.visually-hidden .footer-modal-info-team {
//   transform: translate(-50%, -50%) scaleX(1.1);
// }

.footer-modal-our-team-list {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.footer-portrets-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-basis: calc(100% - 20px);
  margin: 10px;
  border: 1px solid #5f0000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  // background-color: #000;

  @media screen and (min-width: 768px) {
    flex-basis: calc(50% - 20px);
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc(20% - 20px);
  }
  transition: transform 250ms;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.backdropFooterModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
  padding: 40px 20px 40px 20px;

  @media screen and (min-width: 478px) {
    // display: flex;
    justify-content: center;
    align-items: center;
  }
}

.comand__card {
  padding: 10px;
  background-color: #000000;
}

.comand__card--title {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 10px;
}

.comand__card--profesional {
  font-weight: normal;
  font-size: 14 px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-team__img {
  padding: 0px 0px 150% 0px;
  overflow: hidden;
  position: relative;

  flex-grow: 1;
}
