.modal-film__full-info {
  margin: auto;
  position: relative;
  top: 20px;
  width: 280px;
  padding: 48px 20px 41px 20px;
  background-color: #fff;
  border-radius: 10px;

  @media screen and (min-width: 480px) {
    // position: absolute;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    top: 0;
    display: flex;
    width: 618px;
    padding: 42px 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}

.film-image {
  cursor: pointer;
  border-radius: 5px;
}
.film-info {
  @media screen and (min-width: 768px) {
  }
}

.pic {
  width: 240px;
  height: 356px;
  // overflow: hidden;

  margin-bottom: 30px;

  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 477px;
    margin-right: 30px;
  }
}
.modal-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.film-info {
  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}

.film-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  margin-bottom: 20px;
}

.film-spec__name {
  font-weight: 500;
  line-height: 1.33;
  width: 108px;
  color: $modal-text-color;
  // @media screen and (min-width: 768px) {
  //   width: 108px;
  // }

  @media screen and (min-width: 1024px) {
    width: 152px;
  }
}

.film-spec__value--numb,
.film-spec__value--text {
  font-weight: 500;
  line-height: 1.17;
}

.film-spec__value--text {
  line-height: 1.33;
}

.film-spec {
  width: 100%;
  margin-bottom: 10px;
}

td {
  padding: 5px 5px 5px 0px;
  // width: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.about {
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.about-text {
  font-weight: 500;
  line-height: 1.67;

  margin-bottom: 21px;
}

.buttons {
  display: flex;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.add-to-watched-btn,
.add-to-queue-btn {
  width: 112px;
  min-height: 44px;

  border-color: transparent;
  color: #fff;
  background: $accent-modal-color;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    min-width: 125px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 112px;
  }

  // transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //   background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .add-to-watched-btn:hover,
// .add-to-watched-btn:focus {
//   border: 1px solid $primary-text-color;
//   // border-color: $primary-text-color;
//   background: $header-text-color;
//   color: $primary-text-color;
// }

.add-to-queue-btn {
  color: $primary-text-color;
  border: 1px solid #000000;
  background: #fff;

  @media screen and (min-width: 768px) {
    margin-left: 14px;
  }
}
