<article class="footer-modal">
  <div class="visually-hidden backdropFooterModal  " id="js-backdrop-footer" >
    <div class="container-footer-modal container" data-modal.js>

      <button class="close-button-footer js-close-footer" type="button">
        <svg class="close-button-svg" width="18" height="18">
          <use href="./images/svg/close-btn.svg"></use>
        </svg>
      </button>

      <ul class="footer-modal-our-team-list">
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <img src="./images/mobi/img.jpg" alt="ss" width="270" height="260" />
            <div class="comand__card">
              <h3 class="comand__card--title">Игорь Демьяненко</h3>
              <p class="comand__card--profesional">Product Designer</p>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</article>
