<article class="footer-modal">
  <div class="backdrop visually-hidden">
    <div class="container-footer-modal">
      <ul class="footer-modal-our-team-list">
        <li class="footer-portrets-card">
          <a href="" class="">
            <div><img src="" alt="" /></div>
            <span>И.Ф.</span>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <div><img src="" alt="" /></div>
            <span>И.Ф.</span>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <div><img src="" alt="" /></div>
            <span>И.Ф.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
