<article class="footer-modal">
  <div class="backdrop is-hidden" >
    <div class="container-footer-modal" data-modal.js>

      <button class="modal-button" type="button" data-modal-close.js>
        <svg class="close-button-svg" width="18" height="18">
          <use href="./images/svg/close-btn.svg"></use>
        </svg>
      </button>

      <ul class="footer-modal-our-team-list">
        <li class="footer-portrets-card">
          <a href="" class="">
              <!-- <img src="../images/tablet/img@2x.jpg" alt="ss" width="260" height="270" /> -->
              <span>И.Ф.</span>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <!-- <img src="../images/tablet/img@2x.jpg" alt="ss" width="260" height="270" /> -->
            <span>И.Ф.</span>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <!-- <img src="../images/tablet/img@2x.jpg" alt="ss" width="260" height="270" /> -->
            <span>И.Ф.</span>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <!-- <img src="../images/tablet/img@2x.jpg" alt="ss" width="260" height="270" /> -->
            <span>И.Ф.</span>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="" class="">
            <!-- <img src="../images/tablet/img@2x.jpg" alt="ss" width="260" height="270" /> -->
            <span>И.Ф.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
