<article class="modal-box">
  <div id="backdropFilmCard" class="backdrop visually-hidden">
    <div class="modal-film__full-info">
      <button class="close-button js-closeModalInfo" type="button">
        <svg class="close-button-svg" width="18" height="18">
          <use href="./images/svg/close-btn.svg"></use>
        </svg>
      </button>
      <div class="pic js-prewiu-img"></div>
      <div class="film-info">
        <div class="film-name">Name</div>
        <table class="film-spec">
          <tbody>
            <tr>
              <td class="film-spec__name">Vote / Votes</td>
              <td class="film-spec__value--numd">
                <span class="film-card__film-rating">rate</span>qwe
              </td>
            </tr>
            <tr>
              <td class="film-spec__name">Popularity</td>
              <td class="film-spec__value--numd">qwe</td>
            </tr>
            <tr>
              <td class="film-spec__name">Original Title</td>
              <td class="film-spec__value--text">qwe</td>
            </tr>
            <tr>
              <td class="film-spec__name">Genre</td>
              <td class="film-spec__value--text">qwe</td>
            </tr>
          </tbody>
        </table>
        <div class="about js-about__leng">About</div>
        <div class="about-text js-about__api">qwe</div>
        <div class="buttons">
          <button class="add-to-watched-btn js-watched-modal" type="button">add to Watched</button>
          <button class="add-to-queue-btn js-queue-modal" type="button">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</article>
