<article class="modal-box">
  <div class="modal-film backdrop is-hidden">
    <div class="modal-film__full-info">
      <div class="pic"></div>
      <div class="film-info">
        <div class="film-name">Name</div>
        <table class="film-spec">
          <tbody>
            <tr>
              <td class="film-spec__name">Vote / Votes</td>
              <td class="film-spec__value--numd"><span class="">rate</span>qwe</td>
            </tr>
            <tr>
              <td class="film-spec__name">Popularity</td>
              <td class="film-spec__value--numd">qwe</td>
            </tr>
            <tr>
              <td class="film-spec__name">Original Title</td>
              <td class="film-spec__value--text">qwe</td>
            </tr>
            <tr>
              <td class="film-spec__name">Genre</td>
              <td class="film-spec__value--text">qwe</td>
            </tr>
          </tbody>
        </table>
        <div class="about">About</div>
        <div class="about-text">qwe</div>
        <div class="buttons">
          <button class="watched-btn" type="button">add to Watched</button>
          <button class="queue-btn" type="button">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</article>
