.up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5;
  border-radius: 50%;
  padding: 25px;
  cursor: pointer;
  border: 3px solid var(--up-background);
  box-shadow: 0 0 10px 3px var(--up-background);
  transition: border-color 200ms linear, opacity 200ms linear, box-shadow 200ms linear;
  opacity: 1;
  visibility: visible;
  background-color: transparent;

  &:after,
  &:before {
    position: absolute;
    background-color: var(--up-background);
    left: 50%;
    width: 5px;
    height: 22px;
    top: 11px;
    margin-left: -8px;
    transform: rotate(45deg);
    border-radius: 10px;
    transition: background-color 200ms linear;
    content: '';
  }
  &:after {
    width: 21px;
    height: 5px;
    margin-left: -4px;
    top: 19px;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: #ff6b08;
    box-shadow: 0 0 10px 3px #ff6b08;

    &::after,
    &:before {
      background-color: #ff6b08;
    }
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}